body {
    height      : 100%;
    width       : 100%;
    touch-action: none;
}


.outer-board {
    background-color: #DDD;

    .inner-board {
        width              : 100vh;
        height             : 100vh;
        position           : relative;
        background-image   : url("../img/baseball_field_1x1.svg");
        background-position: center;
        background-size    : contain;
        background-repeat  : no-repeat;
    }

    .flex-column .inner-board {
        width      : 100%;
        padding-top: 100%;
        height     : 0;
    }

    #footer {
        position: fixed;
        left    : 1em;
        bottom  : 1em;
    }

    .flex-column #footer {
        background-color: #666;
        position        : relative;
        text-align      : right;
        left            : 0;
        bottom          : 0;
        padding         : 0.5em;
    }

    .board-option {
        display         : block;
        flex            : 1;
        background-color: #666;
    }
}

.magnet {
    z-index         : 9999999999;
    position        : absolute;
    left            : 5%;
    bottom          : 5%;
    height          : 5%;
    width           : 5%;
    margin-left     : -2.5%;
    margin-top      : -2.5%;
    display         : block;
    border-radius   : 50%;
    background-color: #FFF;
    color           : white;
    text-align      : center;
    padding-top     : 1.25%;

    box-shadow: 0px 2px rgba(0, 0, 0, 0.5);

    &.blue {
        border: 5px solid blue;

        &.highlight {
            background-color: #AAF;
        }
    }

    &.red {
        border: 5px solid red;

        &.highlight {
            background-color: #FAA;
        }
    }

    &.yellow {
        border: 5px solid yellow;

        &.highlight {
            background-color: #FFA;
        }
    }

    a {
        word-break           : keep-all;
        word-wrap            : none;
        background-color     : rgba(0, 0, 0, 0.5);
        font-weight          : bold;
        -webkit-touch-callout: none;
        /* iOS Safari */
        -webkit-user-select  : none;
        /* Safari */
        -khtml-user-select   : none;
        /* Konqueror HTML */
        -moz-user-select     : none;
        /* Firefox */
        -ms-user-select      : none;
        /* Internet Explorer/Edge */
        user-select          : none;
        /* Non-prefixed version, currently
                                      supported by Chrome and Opera */
    }
    &-list-box {
        padding         : 0.5em;
        flex            : 1;
        overflow-y      : auto;
        overflow-x      : hidden;
        background-color: #777;
    }

    &-list {
        position: relative;
        p {
            padding         : 1em;
            width           : 100%;
            word-break      : break-all;
            background-color: #AAA;

            &.highlight {
                background-color: #CCC;
            }

            &.blue {
                button[name="blue"] {
                    outline: 3px solid white;
                }
            }

            &.red {
                button[name="red"] {
                    outline: 3px solid white;
                }
            }

            &.yellow {
                button[name="yellow"] {
                    outline: 3px solid white;
                }
            }
        }

        .magnet-info {
            button {
                height: 1em;
                width : 1em;
                margin: 0 0.25em;
            }
        }
    }
}