body {
  height: 100%;
  width: 100%;
  touch-action: none; }

.outer-board {
  background-color: #DDD; }
  .outer-board .inner-board {
    width: 100vh;
    height: 100vh;
    position: relative;
    background-image: url("../img/baseball_field_1x1.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat; }
  .outer-board .flex-column .inner-board {
    width: 100%;
    padding-top: 100%;
    height: 0; }
  .outer-board .board-option {
    flex: 1 1;
    background-color: #666; }

.magnet {
  z-index: 9999999999;
  position: absolute;
  left: 5%;
  bottom: 5%;
  height: 5%;
  width: 5%;
  margin-left: -2.5%;
  margin-top: -2.5%;
  display: block;
  border-radius: 50%;
  background-color: #FFF;
  color: white;
  text-align: center;
  padding-top: 1.25%;
  box-shadow: 0px 2px rgba(0, 0, 0, 0.5); }
  .magnet.blue {
    border: 5px solid blue; }
    .magnet.blue.highlight {
      background-color: #AAF; }
  .magnet.red {
    border: 5px solid red; }
    .magnet.red.highlight {
      background-color: #FAA; }
  .magnet.yellow {
    border: 5px solid yellow; }
    .magnet.yellow.highlight {
      background-color: #FFA; }
  .magnet a {
    word-break: keep-all;
    word-wrap: none;
    background-color: rgba(0, 0, 0, 0.5);
    font-weight: bold; }
  .magnet-list {
    background-color: #777;
    min-height: 100%; }
    .magnet-list p {
      padding: 1em;
      width: 100%;
      word-break: break-all;
      background-color: #AAA; }
      .magnet-list p.highlight {
        background-color: #A88; }
    .magnet-list-box {
      overflow-y: auto;
      overflow-x: hidden;
      flex: 1; }
    .magnet-list .magnet-info button {
      height: 1em;
      width: 1em;
      margin-left: 0.5em; }
