body {
  height: 100%;
  width: 100%;
  touch-action: none; }

.outer-board {
  background-color: #DDD; }
  .outer-board .inner-board {
    width: 100vh;
    height: 100vh;
    position: relative;
    background-image: url("../img/baseball_field_1x1.svg");
    background-position: center;
    background-size: 98%;
    background-repeat: no-repeat;
    overflow: hidden; }
  .outer-board .flex-column .inner-board {
    width: 100%;
    padding-top: 100%;
    height: 0; }
  .outer-board #footer {
    position: fixed;
    left: 1em;
    bottom: 1em; }
    .outer-board #footer button {
      margin: 0 0.25em 0.25em 0; }
  .outer-board .flex-column #footer {
    background-color: #666;
    position: relative;
    text-align: right;
    left: 0;
    bottom: 0;
    padding: 0.5em; }
  .outer-board #trash {
    border-radius: 15% 0 0 0;
    position: absolute;
    height: 10%;
    width: 10%;
    bottom: 0;
    right: 0;
    padding: 5px;
    text-align: center;
    background-blend-mode: multiply;
    background-color: red;
    background-image: url("../img/trash-solid.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
    opacity: 0.3; }
    .outer-board #trash.highlight {
      opacity: 0.6; }
  .outer-board .board-option {
    display: block;
    flex: 1;
    background-color: #666; }

.magnet {
  z-index: 9999999999;
  position: absolute;
  height: 5%;
  width: 5%;
  margin-left: -2.5%;
  margin-top: -2.5%;
  display: block;
  border-radius: 50%;
  background-color: #FFF;
  color: white;
  text-align: center;
  padding-top: 1.25%;
  box-shadow: 0px 2px rgba(0, 0, 0, 0.5); }
  .magnet.blue {
    border: 5px solid blue; }
    .magnet.blue.highlight {
      background-color: #66F; }
  .magnet.red {
    border: 5px solid red; }
    .magnet.red.highlight {
      background-color: #F66; }
  .magnet.yellow {
    border: 5px solid yellow; }
    .magnet.yellow.highlight {
      background-color: #FF6; }
  .magnet a {
    word-break: keep-all;
    word-wrap: none;
    background-color: rgba(0, 0, 0, 0.5);
    font-weight: bold;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                      supported by Chrome and Opera */ }
  .magnet-list-box {
    padding: 0.5em;
    flex: 1;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #777; }
  .magnet-list {
    position: relative; }
    .magnet-list p {
      padding: 1em;
      width: 100%;
      word-break: break-all;
      background-color: #AAA; }
      .magnet-list p.highlight {
        background-color: #CCC; }
      .magnet-list p.blue button[name="blue"] {
        outline: 3px solid white; }
      .magnet-list p.red button[name="red"] {
        outline: 3px solid white; }
      .magnet-list p.yellow button[name="yellow"] {
        outline: 3px solid white; }
    .magnet-list .magnet-info button {
      height: 1em;
      width: 1em;
      margin: 0 0.25em; }
