extends ../base.pug

block heads
    title 棒球紀錄表
    link(rel="stylesheet" href='../assets/css/scoresheet.css?v=1.2.1')
block contents
block scripts
    script(src="../assets/js/scoresheet.js?v=1.2.1")
