extend base.pug
block contents
    .container.h-100
        .row.p-4.align-items-center.h-100
            .col
                a.btn.btn-primary.mb-1.btn-block(type="button" href="clipboard") 戰術白板
                a.btn.btn-primary.mb-1.btn-block(type="button" href="scoresheet") 紀錄表
    #footer.text-center.w-100.p-4(style="position: fixed; bottom: 0;")
        a power by 位元創意有限公司